* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f1eb;
}

nav li {
    font-family: 'Frank Ruhl Libre', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.frank {
    font-family: 'Frank Ruhl Libre', serif;
    background: linear-gradient(to top, #7e5019, #b27326);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main {
    margin-top: 6em;
}



@media (min-width: 1200px) {
    .coffee-image-left {
        position: absolute;
        top: 52%; /* Adjust the vertical position as needed */
        left: 0;
        transform: translate(-50%, -50%) rotate(-50deg);
        z-index: -1;
    }

    .coffee-image-right {
        position: absolute;
        top: 58%; /* Adjust the vertical position as needed */
        right: -2%;
        transform: translate(50%, -50%) rotate(-60deg);
    }
}

@media (max-width: 1199px) {
    .coffee-image-left,
    .coffee-image-right {
        display: none;
    }
}



