* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f1eb;
}

nav li {
    font-family: 'Frank Ruhl Libre', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.frank {
    font-family: 'Frank Ruhl Libre', serif;
    background: linear-gradient(to top, #7e5019, #b27326);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 1200px) {
    .coffee-image-left {
        position: absolute;
        top: 49%; /* Adjust the vertical position as needed */
        left: 0;
        transform: translate(-50%, -50%) rotate(-50deg);
        z-index: -1;
    }

    .coffee-image-right {
        position: absolute;
        top: 58%; /* Adjust the vertical position as needed */
        right: -5%;
        transform: translate(50%, -50%) rotate(-60deg);
    }
}

@media (max-width: 1199px) {
    .coffee-image-left,
    .coffee-image-right {
        display: none;
    }
}

@media (max-width: 491px) {
    .frank {
        font-size: 1.5rem;
    }
    .raleway {
        font-size: 1rem;
    }
}

@media (min-width: 492px) {
    .frank {
        font-size: 2.1rem;
    }
    .raleway {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .frank {
        font-size: 2.3rem;
    }
    .raleway {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .frank {
        font-size: 3.1rem;
    }
    .raleway {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .frank {
        font-size: 4.2rem;
    }
    .raleway {
        font-size: 2.2rem;
    }
    main {
        margin-top: 6em;
    }
}

@media (min-width: 1200px) {
    .frank {
        font-size: 4.7rem;
    }
    .raleway {
        font-size: 2.5rem;
    }
}




